{{/* 
  
  A shortcode is an adaptation of the q-cite shortcode, but instead displays 
  terms and definitions from a data/glossary.yml file that includes `id` 
  `display` and `definition` attributes for each term.
  
  The first parameter of the shortcode must match an `id` in data/glossary.yml
  
  The optional second parameter allows you to customize the linked text as it 
  will appear. In this way you can control capitalization when neceessary or 
  use shortened IDs in the glossary file and longer versions in the text.
  
  {{< q-def "UVR" "Ultraviolet radiation" >}}
  
*/}}

{{- $id := .Get 0 -}}

{{- range .Site.Data.glossary.terms -}}
  {{- if eq $id .id -}}  
    {{- $.Scratch.Set "term" .display -}}
    {{- $.Scratch.Set "def" .definition -}}
  {{- end -}}
{{- end -}}

<span class="quire-citation expandable">{{ if ne .Site.Params.citationPopupStyle "icon" }}<button aria-expanded="false">{{ end }}{{ if eq (len .Params) 2 }}{{ .Get 1 | markdownify }}{{ else }}{{ .Get 0 }}{{ end }}{{ if eq .Site.Params.citationPopupStyle "icon" }}<button class="material-icons md-18 material-control-point" aria-expanded="false">control_point</button>{{ end }}{{ if ne .Site.Params.citationPopupStyle "icon" }}</button>{{ end }}<span hidden class="quire-citation__content"><span class="visually-hidden">Citation: </span><strong>{{ markdownify ($.Scratch.Get "term") }}</strong>{{ if .Site.Params.glossaryTermDivider }}{{ .Site.Params.glossaryTermDivider }}{{ else }}: {{ end }}{{ markdownify ($.Scratch.Get "def") }}</span></span>